doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title=head.title
        link(href='css/styles.css' rel="stylesheet")

    body
        div(class="container")
          header(class="header")
            
            //- logo 
            svg(class="brand-logo") 
              use(xlink:href="img/key.svg#Layer_1")
            div(class="brand-logo__text") Twin Keys
            
            //- searchbar
            form(class="search" action="#")
              input(id="search" class="search__input" type="text" placeholder="search")
              button(id="searchbtn" class="search__button")
                svg(class="search__icon")
                  use(xlink:href="img/sprite.svg#icon-magnifying-glass")
            
            //- usernav user
            div(class="user-nav")
              div(class="user-nav__user")
                img(class="user-nav__user--photo" src="img/user-photo-04.jpg")
          
          //- content       
          div(class="content")
            
            //- navbar - topnav
            nav(class="navbar")
              ul(class="top-nav")                               
                each i in nav
                    li(class="top-nav__item" onclick=i.link)
                      a(class="top-nav__link" href=i.link)
                        svg(class="top-nav__icon")
                          use(xlink:href=i.icon)
                        span=i.title
            
            //- content-view
            main(class="content-view")
              
              //- hero
              div(class="hero") 
                div(class="hero__cta")
                
                  div(class="hero__cta--title") twin keys
                  div(class="hero__cta--subtitle") guesthouse
                  //- h2(class="hero__cta--localtitle") San Francisco, Ca
                  div(class="hero__brand-logo")
                    //- logo
                    svg(class="hero__brand-logo--svg")
                      use(xlink:href="img/key.svg#Layer_1")
              
              //- overview  
              section(class="overview")
                h2(class="overview__heading")=overview.heading
                
                //- overview location 
                div(class="overview__location")
                  a(class="btn-inline")=overview.location
                  svg(class="overview__icon-location")
                    use(xlink:href=overview.icon)
             
              //- overview stars    
              - var n = 0;
                div(class="overview__stars")
                  while n < 4
                    svg(class="overview__icon-star")
                      use(xlink:href=overview.fullstar)= n++
                  svg(class="overview__icon-star")
                    use(xlink:href=overview.halfstar)
                
                //- image gallery     
                div(class="gallery")
                  each image in gallery.images
                      figure(class="gallery__item")
                          img(src=image alt="gallery photo")      
                
                //- about us / left
                section(class="detail")
                  div(class="description")
                    each h in paragraph1
                      h2(class="parahead top")=h.head
                    img(src="img/bnb-apt.jpg" class="detail_image")
                    each p in paragraph1
                      p(class="paragraph")=p.blurb1
                      p(id="accomodation" class="paragraph")=p.blurb2
                    each s in paragraph3
                      h3(class="parahead")=s.head
                      p(class="paragraph")=s.blurb 
                    
                    //- accomodations / 
                    div(class="space")          
                      ul(class="list")
                        each n in features
                          li(class="list__item")=n.item
                            p(class="list__detail")=n.details
                            svg(class="list__icon")
                              use(xlink:href=n.icon)
  
                    each s in paragraph2
                      h3(class="parahead")=s.head
                      p(class="paragraph")=s.blurb      
                    
                    //- amenities          
                    ul(class="list")
                      each i in amenities
                        li(class="list__item")=i.item
                          svg(class="list__icon")
                            use(xlink:href=i.icon)
     
                  //- reviews / right
                  aside(class="user-reviews")               
                  
                    div(id="aboutUs" class="host") 
                      div(class="host__profile") 
                        h3(class="host__title") your host
                        img(src="img/host.jpg" class="host_image")
                        
                        each item in host  
                          div(class="host__name")=item.name
                          div(class="host__bio")=item.bio
                        
                  
                    figure(class="review")
                      h3(class="review__title") guest reviews
                      
                      //- reviewer avatars
                      div(class="recommend")
                        each user in recommend.users
                          div(class="recommend__users")
                            img(class="recommend__photo" alt="user avatar" src=user)
                      
                      div(class="recommend__box")
                          p(class="recommend__counter")=recommend.count
                      
                      //- individual review
                      each review in reviews
                        blockquote(class="review__text")=review.quote
                        figcaption(class="review__user")
                          img(class="img review__photo" alt="user photo" src=review.image)
                          div(class="review__user-box")
                            p(class="review__user-name")=review.name
                            p(class="review__user-date")=review.date
                          div(class="review__user-btn")
                            svg(class="review__user-like")
                              use(xlink:href=review.icon)
                            span(class="review__user-date")=review.count
                  
              //- Book
              section(id="book" class="book-now")
                form(id="f2" class="book" validate)
                  div(class="book__rate") 
                     h2(class="book-now__title") $325
                       span(class="book-now__title--span") /per night
                  
                  h3(class="book__title") Dates
                  div(class="book__date-box")
                    div(class="book__date-box--date")
                      div(class="book__date-box--date-pick")
                        label(for="from") from
                        input(type="date" id="from" name="from" required)
                      //- span(class="valid" aria-live="polite")
                      span(class="book__date-box--date-pick")
                        label(for="to") to
                        input(type="date" id="to" name="to" required)
                      //- span(class="valid" aria-live="polite")
                        
                  h3(class="book__title") Guests
                  div(class="book__info-box")
                    div( class="book__info-box--form" )
                      span(class="book__info-box--label") Adults
                        select(id="book-adult" class="book__info-box--select" name="book-adult")
                          each a in adult
                            option(value=a.value)=a.option
                      
                      span(class="book__info-box--label") Children
                        select(id="book-child" class="book__info-box--select" name="book-child")
                          each c in child
                            option(value=c.value selected=c.selected)=c.option
                      //- button
                      a(id="f2Submit" type="submit" class="book__info-box--btn trigger-modal") Book Now
                
                      //- confirmaton modal
                      div(class="confirm-modal")
                        div(class="confirm-modal__content")
                          
                          span(class="popup")
                            span(id="myPopup" class="popup__text") Request sent!
                          
                          span(class="confirm-modal__close") X
                          div(class="confirm-modal__message") 
                            p(class="confirm-modal__message--request") Request to book 
                            p(class="confirm-modal__message--name") Twin Keys 
                            p(class="confirm-modal__message--name") Guesthouse 
                            
                            p(class="confirm-modal__message--date")
                              span(id="bookFromDate" class="confirm-modal__message--date-from")
                              span(id="bookToDate" class="confirm-modal__message--date-to")
                            
                            p(class="confirm-modal__message--guest")
                              span(id="bookAdult"  class="confirm-modal__message--guest-adult")
                              span(id="bookChild" class="confirm-modal__message--guest-child")
                            
                            p(class="confirm-modal__message--total") amount due
                            p(id="book-amount" class="confirm-modal__message--amount") 
                            p(class="confirm-modal__message--notice") *you won't be charged until 
                            p(class="confirm-modal__message--notice") the reservation is confirmed

                          button(id="confirmPopUp" class="confirm-modal__btn") yes, book it!
                            
                                
                //- rules box
                div(class="rules")
                  div(class="rules__price")
                    div(class="rules__title") Rental Prices
                    div(class="rules__price") 
                      ul(class="rules__list")
                        each p in prices
                          li
                            p(class="rules__list--item")=p.item
                            p(class="rules__list--price")=p.price
                  
                  div(class="rules__terms")
                    div(class="rules__title") Rental Rules
                      div(class="rules__terms") 
                        ul(class="rules__list")
                          each rule in rules
                            li
                              p(class="rules__list--rule")=rule.item
         
        
                  
        
        
                              
        script(src="http://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript")
        script(src='js/bundle.js' type="text/javascript")
